/* Custom CSS for centering the competitions */
.container-fluid {
    display: flex;
    justify-content: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
}

.booking {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#sign-up {
    margin-top: 20px; 
    padding-top: 20px;
}