/* Custom CSS for centering the competitions */
.container-fluid {
    display: flex;
    justify-content: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Ensure the card body takes up the full height */
}

.booking {
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
}