{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid h-100 join-box-container">
    <div class="row h-100 align-items-center">
        <div class="col-12 col-md-6 my-auto mt-md-0">
            <div class="text-center text-md-start">
                <h1 class="display-4 logo-font text-black">
                    Join Our Box
                </h1>
                <button class="btn btn-black rounded-pill">Join Now</button>
            </div>
        </div>
    </div>
</div>
               
                
                
            

    <footer class="container-fluid">
        <div class="row bg-dark text-white py-3">
            <div class="col-12 col-md-6">
                <ul class="list-unstyled">
                    <li><a href="#">Customer Service</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 text-md-end">
                <p>Follow Us:</p>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-twitter-square"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-instagram-square"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-youtube-square"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    
{% endblock %}