<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
       

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="train" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Train with Us
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="train-with-us">
                <a href="" class="dropdown-item">Memberships</a>
                <a href="" class="dropdown-item">Personal Training Sessions</a>
        
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Webshop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Active Wear</a>
                <a href="" class="dropdown-item">Gym Gear</a>
                <a href="" class="dropdown-item">Health Products</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>

            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Challenges
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Join a Challenge</a>
    
            </div>
        </li>
    </ul>
</div>