/* Custom CSS for centering the competitions */
.container-fluid {
    display: flex;
    justify-content: center;

}

.card {
    margin-top: 20px; /* Adjust the margin as needed */
}

.booking {
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
}

