{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'connect/css/connect.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="booking">
        <div class="col-md-8 mt-3 offset-md-2">
            <div class="booking-header">
                <h3>Contact US</h3>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-12 col-md-6">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}                                 
                        <button input type="submit" class="btn btn-dark">Submit</button>
                    </form>
            </ul>
        </div>
    </div>
</div>
{% endblock %}