{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'connect/css/connect.css' %}">
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Privacy Policy</h2> 
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body row align-items-center">
                        <div class="col-md-12">
                            <div class="text-start">
                                <h3>Privacy Policy</h3>
                                <ol>
                                    <li>
                                        <h4>Information We Collect</h4>
                                        <p>We collect certain information about you when you visit our Site, including:</p>
                                        <ul>
                                            <li>Personal Information: When you fill out a form, subscribe to our newsletter, or otherwise interact with our Site, we may collect personal information such as your name, email address, phone number, and any other information you provide.</li>
                                            <li>Usage Data: We may also collect information about how you access and use the Site, including your IP address, browser type, device information, and pages visited.</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <hr>
                                        <h4>Use of Information</h4>
                                        <p>We may use the information we collect for various purposes, including to:</p>
                                        <ul>
                                            <li>Provide, operate, and maintain the Site</li>
                                            <li>Communicate with you about our products, services, and promotions</li>
                                            <li>Respond to your inquiries, comments, or requests</li>
                                            <li>Analyze and improve our Site, services, and user experience</li>
                                            <li>Customize and personalize your experience on the Site</li>
                                            <li>Prevent fraudulent activity and ensure the security of our Site</li>
                                            <li>Comply with legal and regulatory obligations</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <hr>
                                        <h4>Data Sharing and Disclosure</h4>
                                        <p>We may share your personal information with third parties in the following circumstances:</p>
                                        <ul>
                                            <li>With service providers: We may share your information with third-party service providers who assist us in operating our Site, conducting our business, or providing services to you.</li>
                                            <li>For legal purposes: We may disclose your information in response to a subpoena, court order, or other legal process, or to comply with applicable laws, regulations, or government requests.</li>
                                            <li>With your consent: We may share your information with your consent or at your direction.</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <hr>

                                        <h4>Cookies and Tracking Technologies</h4>
                                        <p>We use cookies and similar tracking technologies to track activity on our Site and collect certain information. You can configure your browser to refuse all cookies or to indicate when a cookie is being sent.</p>
                                    </li>
                                    <li>
                                        <h4>GDPR Compliance</h4>
                                        <p>If you are a resident of the European Economic Area (EEA), you have certain data protection rights under the General Data Protection Regulation (GDPR). These rights include the right to access, correct, or delete your personal information, as well as the right to restrict or object to its processing.</p>
                                    </li>
                                    <li>
                                        <hr>

                                        <h3>Data Retention</h3>
                                        <p>We will retain your personal information only for as long as necessary to fulfill the purposes for which it was collected and as required by applicable laws.</p>
                                    </li>
                                    <li>
                                        <hr>

                                        <h4>Contact Us</h4>
                                        <p>If you have any questions about this Privacy Policy or our practices regarding your personal information, please contact us at beyondthebarbell@gmail.com.</p>
                                    </li>
                                    <li>
                                        <hr>

                                        <h4>Changes to This Privacy Policy</h4>
                                        <p>We reserve the right to update or change this Privacy Policy at any time. Any changes will be effective immediately upon posting on this page.</p>
                                        <p>Last updated: 21 February 2024</p>
                                        <p>Please review this Privacy Policy periodically for any updates or changes. Your continued use of the Site after any modifications indicates your acceptance of the revised Privacy Policy.</p>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}