{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'connect/css/connect.css' %}">
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Reviews</h2> 
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body row align-items-center">
                        <div class="col-md-12">
                            <h3 class="booking-header">Write a Review</h3> 
                        </div>
                        <div class="col-md-12">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}                                     
                                <button type="submit" class="btn btn-dark mt-3">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h3 class="card-title">Existing Reviews</h3>
                        <ul class="list-group">
                            {% for review in reviews %}
                                <li class="list-group-item">
                                    <h4>{{ review.title }}</h4>
                                    <p>{{ review.content }}</p>
                                    <p>Rating: {{ review.rating }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}