{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'competitions/css/competitions.css' %}">
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
   <div class="row">
      <div class="col text-center mt-3">
         <h2 class="logo-font">My Bookings</h2>
      </div>
   </div>
   <div class="row justify-content-center">
      <div class="col-md-8">
         <div class="booking">
            <div class="col-md-8 mt-3 offset-md-2">
               <div class="booking-header">
                  <h3>Hello {{ request.user.username }}! 
                     <br>
                     These are your current competitions:
                  </h3>
               </div>
               <ul class="list-group">
                  {% for booking in user_bookings %}
                  <li class="list-group-item">
                     <div class="booking-details">
                        <p><strong>Title:</strong> {{ booking.competition.title }}</p>
                        <p><strong>Description:</strong> {{ booking.competition.description }}</p>
                     </div>
                     <form action="{% url 'delete_booking' booking.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="card-link btn btn-danger mt-3 mb-3">
                        <i class="fa-solid fa-pen-to-square"></i> Delete
                        </button>
                     </form>
                  </li>
                  {% empty %}
                  <li class="list-group-item">No bookings found.</li>
                  {% endfor %}
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}